################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tasks/obj
/Tasks/bin/Debug
/POS/bin/Debug/netcoreapp3.1
/POS/obj
/pos1/ItemDef
